{{#if isUpdateShowing}}
  {{question-new updateQuestion="updateQuestion" model=model}}
{{else}}

<div class="row">
  <div class="col-md-1 author-block">
    <p><strong class="author">@{{model.author}}</strong></p>
  </div>
  <div class="col-md-10 content-block">
    <div>
      <h4>{{model.title}}</h4>
    </div>
    <div class="question-body">
      <section>
        {{markdown-to-html markdown=model.question}}
      </section>
    </div>

    <button {{action 'showUpdateFrom'}} class="btn-link inline">Update</button>
    <button {{action 'deleteQuestion' model}} class="btn-link inline">Delete</button>
  </div>
</div>

{{/if}}
