{{#if isUpdateShowing}}
  {{question-new updateQuestion="updateQuestion" model=model}}
{{else}}

<div class="row">
  <div class="col-md-1">
    <p>@{{model.author}}</p>
  </div>
  <div class="col-md-10">
    <div>
      <h4>{{model.title}}</h4>
    </div>
    <div class="question-body">
      <section>
        {{markdown-to-html markdown=model.question}}
      </section>
    </div>

  </div>
</div>

<button {{action 'showUpdateFrom'}} class="btn-link">Update</button>
{{/if}}
